.change_photo {
    transition: .5s;
    border-radius: 21px 3px 21px 21px;
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 25%);
    width: max-content;
    padding: 5px 20px;
    cursor: pointer;
    border: none;
    height: 24px;
    position: absolute;
    left: 20%;
    transform: translateX(-50%);
    bottom:0px;
    text-align: center;
    justify-content: center;
}

.change_photo p {
    color: #494949;
    text-transform: uppercase;
}

.change_photo:hover {
    background-color: rgba(223, 223, 223, 0.8);
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 13%);
    backdrop-filter: blur(4px);
    
}

.change_photo:active {
    background-color: rgba(155, 155, 155, 0.8);
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
    border: 1px solid #A7A4A4;
    backdrop-filter: blur(4px);
    transition: 0s;
}

body.dark-theme .change_photo {
    background-color: #626262;
}

body.dark-theme .change_photo p {
    color: #CECECE;
}
@media (max-width: 768px){
    .change_photo{
        padding: 5px 13px;
        margin-left: 30px;
    }
    .change_photo p{
        font-size: 12px;
    }
}
