.change_photo {
    background-color: #EEEEEE;
    border-radius: 21px 3px 21px 21px;
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 25%);
    width: max-content;
    padding: 4px 20px;
	cursor: pointer;
    border: none;
}
.change_photo p {
	color: #494949;
	text-transform: uppercase;
}
.change_photo:hover {
    background-color: #E4E4E4;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 13%);
}
.change_photo:active {
    background-color: #E4E4E4;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
	border: 1px solid #A7A4A4;
}
body.dark-theme .change_photo {
	background-color: #626262;
}
body.dark-theme .change_photo p {
	color: #CECECE;
}