.close_button{
border:none;
stroke:#494949;
background-color: transparent;
cursor:pointer;
stroke-linecap: round;
}
.close_button:hover{
    stroke:#6C6C6C;
    transition: 0.3s;
}
.close_button:active{
    stroke:#3e3e3e;
    transition: 0s;
}
body.dark-theme .close_button{
    stroke:#DFDEDE;
}
body.dark-theme .close_button:hover{
    stroke:#CECECE;
    transition: 0.3s;
}
body.dark-theme .close_button:active{
    stroke:#F6F6F6;
    transition: 0s;
}
