.inactive_label {
    border: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F6F6F6;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.13);
    padding: 10px 120px;
    margin-top: 15px;
    margin-left: 20px;
    font-size: 18px;
    width: max-content;
    border-radius: 3px;
    opacity: 0.6;
    font-family: sans-serif;

}

.inner_inactive {
    color: #C7C7C7;
}

body.dark-theme .change_password_label {
    background-color: #626262;
    opacity: 0.4;
}

body.dark-theme .inner_change_password {
    color: #CECECE;
}