.left_nav{
    height: 100%;
    width: 30px;
    margin-right: 10px;
    transition: width 0.3s ease;
    background: linear-gradient(to bottom, #FFFFFF , #F5F5F7);
    border-radius: 8px;
    position: fixed;
    z-index: 11;
}

#left_nav.active{
    width: 200px;
    background: linear-gradient(to bottom, #FFFFFF , #F5F5F7);
}
.left_nav_svg{
    transform: rotate(0deg);
    transition: transform 0.5s ease-in-out;
}
.left_nav_svg.active, #left_nav_svg.active{
    transform: rotate(180deg);
}
#left_nav.hover{
    width: 200px;
    background: linear-gradient(to bottom, #FFFFFF , #F5F5F7);
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.09);
}
.nav_dople{
    height: 100%;
    width: 30px;
    background-color: transparent;
    position: relative;
    z-index: 10;
    transition: width 0.3s ease;
}
#nav_dople.active{
    width: 200px;
}
.left_dople_nav{
    height: 100%;
    display: flex;
}
/* -------------  */
.left_nav_content {
    display: none;
}
.left_nav_content.hover{
    display: block;
    opacity: 1;
    top: 0;
    left: 0;
}
#left_nav_content.active {
    display: block;
    opacity: 1;
    gap: 10px;
}
.left_nav_text_container{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
    gap: 5px;
    padding: 5px;
    width: 160px;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    transition:  visibility 0s linear 0.5s;
}
.left_nav_text_container.active{
    background-color: #CDCDCD;
    overflow: hidden;
}
.left_nav_text_container:hover{
    background-color:#DDDDDD;
    overflow: hidden;
}
.top_left_nav, .bottom_left_nav{
    display: flex;
    flex-direction: column;
    padding: 5px 10px 5px 10px;
    z-index: 5;
    gap: 5px;
}
#left_nav.hover .left_nav_text_container{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.2s;
}
#left_nav.active .left_nav_text_container{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.2s;
}
.t-1{
    width: 140px;
}
.left_nav_text{
    display: flex;
    font-size: 14px;
    align-items: center;
}
.left_nav_button{
    border: none;
    border-radius: 5px;
    width: 32px;
    height: 35px;
    background-color: #F0F0F0;
    cursor: pointer;
}
.left_nav_button:hover{
    background-color: #dfdfdf;
}
.left_nav_button:active{
    background-color: #d7d7d7;
}
#left_nav.active:hover .left_nav_button{
    display: block;
    position:absolute;
    margin-left: 168px;
    transition: 0.3 ease;
}
#left_nav.hover .left_nav_button{
    display: block;
    position:absolute;
    margin-left: 168px;
    transition: 0.3 ease;
}
#left_nav.active .left_nav_button{
    display: none;
}
.under_button{
    width: 30px;
    height: 100%;
    background-color: transparent;
    position: absolute;
}
.under_button.hover{
    width: 200px;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}
.left_nav_workspace_cont{
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border-radius: 5px;
    gap: 5px;
    padding: 5px;
    width: 160px;
    transition: opacity 0.5s ease 0.5s, transform 0.5s ease 0.5s, visibility 0s linear 0.5s;
}
.left_nav_crm_btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    border: 1px solid #292F4C;
    border-radius: 5px;
    cursor: pointer;
    justify-content: space-between;
    padding: 5px;
    width: 160px;
}
.left_nav_crm_btn:hover{
    background-color: #dfdfdf;
}
.left_nav_crm_text_container{
    display: flex;
    align-items: center;
    gap: 5px;
}
.left_nav_crm_text{
    font-weight: bold;
}
.lnav_nav_crm_arrow{
    rotate: 90deg;
}

body.dark-theme .left_nav_crm_btn:hover{
    background-color: #33354D;
}
body.dark-theme .lnav_nav_crm_arrow path{
    stroke:#d5d8df;
}
body.dark-theme .left_nav_crm_text{
    color:#d5d8df;
}
body.dark-theme .left_nav{
    background: linear-gradient( to bottom , #1C1F3B, #292F4C);
}
body.dark-theme #left_nav.active{
    background: linear-gradient( to bottom , #1C1F3B, #292F4C);
}
body.dark-theme #left_nav.hover{
    background: linear-gradient( to bottom , #1C1F3B, #292F4C);
}
body.dark-theme .lnav_svg path{
    stroke: #d5d8df;
}
body.dark-theme .left_nav_button{
    background-color: #30324E;
}
body.dark-theme .left_nav_text{
    color: #d5d8df;
}
body.dark-theme .left_nav_text_container:hover{
    background-color: #33354D;
}
body.dark-theme .left_nav_button:hover{
    background-color: #464862;
}
body.dark-theme .left_nav_text_container.active{
    background-color: #5B7AA2; 
}
body.dark-theme .t-1{
    width: 140px;
}
@media (max-width:768px){
    .left_nav{
        display: none;
    }
}
