.left_nav{
    height: 100%;
    width: 30px;
    margin-right: 10px;
    transition: width 0.3s ease;
    background-color: #FFFFFF;
    border-radius: 8px;
    position: fixed;
    z-index: 11;
}

#left_nav.active{
    width: 200px;
}
.left_nav_svg{
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
}
.left_nav_svg.active, #left_nav_svg.active{
    transform: rotate(180deg);
}
#left_nav.hover{
    width: 200px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.09);
}
.nav_dople{
    height: 100%;
    width: 30px;
    background-color: transparent;
    position: relative;
    z-index: 10;
    transition: width 0.3s ease;
}
#nav_dople.active{
    width: 200px;
}
.left_dople_nav{
    height: 100%;
    display: flex;
}
.left_nav_content {
    display: none;
    transition: display 0.3s ease, opacity 0.3s ease;
}
.left_nav_content.hover{
    transition: display 0.3s ease, opacity 0.3s ease;
    display: block;
    opacity: 1;
    top: 0;
    left: 0;
}

#left_nav_content.active {
    display: block;
    opacity: 1;
    gap: 10px;
}
.top_left_nav, .bottom_left_nav{
    display: flex;
    flex-direction: column;
    padding: 5px 10px 5px 10px;
    z-index: 5;
}
.left_nav_text_container{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
    gap: 5px;
    padding: 5px;
    width: 160px;
}
.left_nav_text_container:hover{
    background-color:#DDDDDD;
}
.t-1:hover{
    width: 140px;
}
.left_nav_text{
    display: flex;
    font-size: 14px;
    align-items: center;
}
.left_nav_button{
    border: none;
    border-radius: 5px;
    width: 32px;
    height: 35px;
    background-color: #F0F0F0;
    cursor: pointer;
}
.left_nav_button:hover{
    background-color: #dfdfdf;
}
.left_nav_button:active{
    background-color: #d7d7d7;
}
#left_nav.active:hover .left_nav_button{
    display: block;
    position:absolute;
    margin-left: 168px;
    transition: 0.3 ease;
}
#left_nav.hover .left_nav_button{
    display: block;
    position:absolute;
    margin-left: 168px;
    transition: 0.3 ease;
}
#left_nav.active .left_nav_button{
    display: none;
}
.under_button{
    width: 30px;
    height: 100%;
    background-color: transparent;
    position: absolute;
}
.under_button.hover{
    width: 200px;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}
