.pencil_button_circle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    width: 60px;
    height: 60px;
    background-color: #FFF;
}

.pencil_icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hover effect of button */

.pencil_button_circle:hover {
    border-radius: 50%;
    box-sizing: border-box;
    background-color: #EEEEEE;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.35);
    border: 1px solid #FFFFFF;
}

.pencil_icon:hover {
    border-color: #6C6C6C;
}

.pencil_button_circle:hover .pencil_icon path {
    fill: #6C6C6C;
    /* При наведенні на коло, колір змінює й іконка*/
}

/* Active effect of button */

.pencil_button_circle:active {
    border-color: #7E7E7E;
    fill: #6C6C6C;
}

.pencil_button_circle:active .pencil_icon path {
    fill: #888787;
}

/* dark-theme .pencil_button_normal*/

body.dark-theme .pencil_icon path {
    fill: #DFDEDE;
}

body.dark-theme .pencil_button_circle {
    background-color: transparent;
}

/* dark-theme .pencil_button_hover*/

body.dark-theme .pencil_button_circle:hover {
    background-color: #626262;
    border: 1px solid #909090;
    box-shadow: 0px 4px 5px rgba(255, 255, 255, 0.35);
}

body.dark-theme .pencil_button_circle:hover .pencil_icon path {
    fill: #CECECE;
    /* При наведенні на коло, колір змінює й іконка*/
}

/* dark-theme .pencil_buttonn_active.*/
body.dark-theme .pencil_button_circle:active .pencil_icon path {
    fill: #F6F6F6;
    stroke: none;
    border: 1px solid #C0BFBF;
}

body.dark-theme .pencil_button_circle:active {
    background-color: #626262;
    border-color: #C0BFBF;
}