.inner_plus_button {
    text-decoration: none;
    color: #1f60b3;
    font-size: 18px;
    font-family: Josefin-sans;
    transition: all 0.3s ease;
  }
  .plus_button_circle {
    display: flex;
    align-items: center;
    justify-content: none;
    width: 29px;
    height: 29px;
    margin-right: 10px;
    box-sizing: border-box;
    font-weight: bold;
  }
  .plus_button_circle svg {
    transition: all 0.3s ease;
    color: #1f60b3;
  }
  .plus_button_container {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: inherit;
    border: none;
    position:relative;
  }
  /* .plus_button_hover*/
  .plus_button_container:hover .inner_plus_button,
  .plus_button_container:hover .plus_button_circle,
  .plus_button_container:hover .plus_button_circle svg {
    color: #3c4d76;
  }
  /* .plus_button_active*/
  .plus_button_container:active .inner_plus_button,
  .plus_button_container:active .plus_button_circle,
  .plus_button_container:active .plus_button_circle svg {
    color: #b4bbcb;
  }
  /* .plus_button_normal.dark-theme*/
  body.dark-theme .inner_plus_button,
  body.dark-theme .plus_button_circle svg {
    color: #236bc9;
  }
  /* .plus_button_hover.dark-theme*/
  body.dark-theme .plus_button_container:hover .inner_plus_button,
  body.dark-theme .plus_button_container:hover .plus_button_circle,
  body.dark-theme .plus_button_container:hover .plus_button_circle svg {
    color: #84ade2;
  }
  /* .plus_button_active.dark-theme*/
  body.dark-theme .plus_button_container:active .inner_plus_button,
  body.dark-theme .plus_button_container:active .plus_button_circle,
  body.dark-theme .plus_button_container:active .plus_button_circle svg {
    color: #074697;
  }
  @media (max-width: 650px){
    .inner_plus_button{
      font-size:  14px;
    }
  }