@font-face {
    font-family: 'JosefinSans-ExtraLight';
    src: url('../fonts/Josefin_Sans/static/JosefinSans-ExtraLight.ttf');
}
@font-face {
    font-family: 'JosefinSans-Light';
    src: url('../fonts/Josefin_Sans/static/JosefinSans-Light.ttf');
}
@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/Josefin_Sans/static/JosefinSans-Regular.ttf');
}
@font-face {
    font-family: 'JosefinSans-Medium';
    src: url('../fonts/Josefin_Sans/static/JosefinSans-Medium.ttf');
}
@font-face {
    font-family: 'JosefinSans-SemiBold';
    src: url('../fonts/Josefin_Sans/static/JosefinSans-SemiBold.ttf');
}
@font-face {
    font-family: 'JosefinSans-Bold';
    src: url('../fonts/Josefin_Sans/static/JosefinSans-Bold.ttf');
}


* {
	font-family: 'Josefin Sans', sans-serif;
	padding: 0;
	margin: 0;
    text-decoration: none;
    list-style: none;
}

section.main-page {
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
}
