section#contacts_page {
    margin: 0;
    background-color: #F2F2F2;
    min-height: 100vh;
}
.contacts_page-inner {
    display: flex;
    flex-direction: column;
}
.title_name {
    font-size: 30px;
}
.head-ct {
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.nav-ct {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.tabs {
    display: flex;
    color: #000000;
    position: relative;
    font-size: 18px;
}
.tabs .active {
    border-bottom: 5px solid #3BB7FD;
}
.head-tab-click {
    cursor: pointer;
    position: relative;
    text-align: center;
    position: relative;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 15px;
    text-decoration: none;
}
.add_contact_container {
    display: flex;
    gap: 20px;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    max-width: 90%;
}
.add_contact {
    background-color: #000000;
    color: #FFFFFF;
    font-size: 20px;
    padding: 7px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}
.add_contact_container svg:hover {
    cursor: pointer;
}
.name_contact_data {
    color: #BABABA;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: -0px;
    margin-left: 105px;
    margin-right: 105px;
    font-size: 14px;
    align-items: center;
}
.name_contact_data svg {
    cursor: pointer;
}
.button_align {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 40px;
}
.tab_contents .active_content {
    display: block;
}
.tab_contents>div {
    display: block;
}
.name_section.active {
    border-bottom: 5px solid #3BB7FD;
}
.cards_container {
    display: flex;
    flex-direction: column;
    font-size: 13px;
}
.card-info {
    border-radius: 3px;
    padding: 15px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.card_photo {
    width: 67px;
    height: 67px;
    background-color: #D9D9D9;
    border-radius: 50%;
    float: left;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.card_photo img {
    display: flex;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.contact_info {
    display: flex;
    margin-right: 15px;
}
.col-content-contants {
    display: none;
}
.col-content-contants.active {
    display: block;
}
.contact_data {
    max-width: min(1920px, calc(100% - 160px));
    margin: 0 auto;
    overflow-x: auto;
}
.contact_data-inner {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: max-content;
    min-width: 100%;
}
.pre-card-name-column {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.card-name-column {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    margin-left: calc(15px + 15px + 67px - 40px);
    margin-right: 30px;
}
.contact_info p,
.contact_info .skills {
    width: 200px;
    text-wrap: wrap;
    text-align: center;
}
.card-name-column p {
    width: 200px;
    text-align: center;
}