section#index-page {
    max-width: min(1920px, calc(100% - 160px));
    margin: 0 auto;
}
.index-page-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.start_of_main_page {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 135px;
    background-color: transparent;
    border: none;
}
.greetings{
    width:730px;
    height:135px;
    left:5%;
}
.user_small_inf{
    width: 325px;
    height:135px;
    right: 5%;
}
.greetings, .user_small_inf{
    position:relative;
    background-color:transparent;
    display:flex;
    align-items: center;
}

.daily_img, .start_info{
    display: flex;
    position: relative;
}
.start_info{
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
    gap:20px;
}
.date_time, .current_status, .greetings_text{
    position:relative;
    border:none;
    cursor:default;
    width: 450px;
} 
.date_time{
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
}
.greetings_text{
    font-size: 24px;
    font-weight: bold;
    top:5px;
}
.current_status{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.6);
}
.date_time, .current_status, .greetings_text:focus{
    outline:none;
}
.user_small_detail, .user_workandname{
    display:flex;
    background-color: transparent;
    border:none;
}
.user_small_inf{
    width:380px;
    justify-content: space-between;
    margin-right: 50px;
}
.user_small_detail{
    width: 310px;
    flex-direction: column;
}
.user_workandname{
    width:315px;
    height:30px;
}
.user_fullname, .user_work, .organization-text{
    border:none;
    text-align: right;
    cursor:default;
}
.user_fullname, .user_work{
    height:30px;
    position: relative;
}
.user_work{
    color: rgba(0, 0, 0, 0.6);
}
.user_fullname, .user_work:focus, .organization-text{
    outline: none;
}
.user_fullname{
    width:230px;
    font-size: 18px;
    font-weight:normal;
}
.user_work{
    width: 80px;
    font-size: 14px;
    font-weight: lighter;
}
.organization-text{
    width:310px;
    height:24px;
    color: #1F60B3;
}
.circle_flname {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #EEEEEE;
    border-radius: 50%;
    color: #000000;        
    font-size: 15px;      
    text-align: center;   
    line-height: 50px;       
    font-weight: bold;   
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.09);
}
.statistic{
    min-width: 300px;
    min-height:75px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    border: none;
    background-color: #F6F6F6;
    box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.13);
}
.lead_quantity, .unmess_quantity, .task_quantity{
    display:flex;
    position:relative;
    align-items: center;
    gap: 5px;
}
.lead_quantity, .task_quantity{
    max-width: 400px;
    min-width: 300px;
    max-height:75px;
    flex-basis: calc(100% / 3 - 2px * 2);
    flex-grow: 1;
}
.unmess_quantity{
    max-width: 400px;
    min-width: 300px;
    min-height:75px;
    flex-basis: calc(100% / 3 - 2px * 2);
    flex-grow: 1;
}
.line_statistic{
    width: 1px;
    height: 70%;
    background-color: #000;
    align-self: center;
    position:relative;
    flex-grow: 1;
}
.lead_quantity_text, .lead_quantity_number, .unmess_quantity_text, .unmess_quantity_number, .task_quantity_text, .task_quantity_number{
    border: none;
    position: relative;
    background-color: transparent;
    font-weight:normal;
    cursor: default;
}
.lead_quantity_text, .lead_quantity_number, .unmess_quantity_text, .unmess_quantity_number, .task_quantity_text, .task_quantity_number:focus{
    outline:none;
}
.lead_quantity_text, .unmess_quantity_text, .task_quantity_text{
    text-align: right;
    font-size:16px;
    font-weight: bold;
}
.unmess_quantity_text{
    width: 200px;
}
.lead_quantity_text{
    width:100px;
}
.task_quantity_text{
    width:100px;
}
.lead_quantity_number, .unmess_quantity_number, .task_quantity_number{
    width:80px;
    text-align: center;
    align-self: center;
    font-size:36px;
}
.lead_quantity_number{
    margin-left:65px;
}
.task_quantity_number{
    margin-left: 50px;;
}
.unmess_quantity_number{
    margin-left:50px;
}
.info_table {
    width: 100%;
    display:flex;
    justify-content: space-between;
    background-color: transparent;
    border:none;
    flex-wrap: wrap;
    gap: 22px;
}
.leads_table, .calendar_table, .task_table{
    width: 32%;
    background-color: #F6F6F6;
    border:none;
    position:relative;
    box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.13);
}
.unmess_table{
    background-color: #F6F6F6;
    border:none;
    box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.13);
}
.table_buttons {
    display: flex;
    position: relative;
    justify-content:space-around;
    align-items: center;
    padding: 25px 5px;
    border-bottom: 1px solid #000;
}
.table_buttons-unmess {
    justify-content: flex-start;
}
.leads_table_text, .tasks_table_text, .callendar_table_text, .unmess_table_text{
    border:none;
    background-color: transparent;
    position: relative;
    font-size: 18px;
    cursor:default;
}
.leads_table_text, .tasks_table_text, .callendar_table_text, .unmess_table_text:focus{
    outline:none;
}
.leads_table_text{
    width:110px;
}
.callendar_table_text{
    width:70px;
}
.tasks_table_text{
    width:42px;
}
.info_table_text:focus{
    outline: none;
}
.table_line{
    width:100%;
    height: 1px;
    background-color:#000000;
}
.table_text_info_container{
    width: 150px;
    height: 30px;
    display:flex;
    align-items: center;
    gap: 8px;
    position: relative;
}
.table_info_container{
    margin-left: 10px;
    align-items:center;
}
.plus_button_container{
    align-items: center;
}
.current_leads.available, .current_callendar, .current_tasks, .current_unmess{
    width:100%;
    position:relative;
    display:flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}
.current_leads.unavailable{
    align-items: left;
    justify-content: space-between;
    flex-direction: column;
}
.info_table-card {
    min-height: 350px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    flex-basis: calc(100% / 3 - 22px* 2 / 3);
    flex-grow: 1;
}
.unmess_table.info_table-card {
    flex-basis: 100%;
}
.unmess_buttons{
    width: 100%;
    height: 15.5%;
    display: flex;
    position: relative;
    justify-content:space-between;
    align-items: center;
}
.unmess_table_text{
    margin-left: 40px;
    width: 130px;
}
.callendar_icon, .tasks_icon{
    display: flex;
    position:relative;
    align-items: center;
    align-self:center;
    flex-direction:column;
}
.callendar_status{
    border: none;
    background-color: transparent;
    font-size: 18px;
    color: #868686;
    cursor: default;
    text-align: center;
    height: auto;
    resize: none;
    overflow: hidden;
}
.current_zero_data_text{
    border: none;
    background-color: transparent;
    font-size: 18px;
    color: #868686;
    cursor: default;
    text-align: center;
    width:auto;
}
.current_zero_data_text:focus{
    outline:none;
}
.callendar_status:focus{
    outline: none;
}
.go_to_callendar{
    background-color: transparent;
    font-size: 18px;
}
.current_leads_text{
    background-color: transparent;
    border: none;
    color: #868686;
    cursor: default;
    font-size: 18px;
    width: 100%;
    text-align: left;
}
.currents_leads_text:focus{
    outline: none;
}


