body{
    background-color: #F5F5F7;
}
section#my_profile_page {
    max-width: min(1920px, calc( 100% - 260px));
    margin: 0 auto;
    padding-top: 90px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}
.my_profile_page_inner {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 5px;
    min-width: 280px;
    justify-content:center;
    gap: 70px;
}
.profile_section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;
    width: 100%;
    max-width: 707.34px;
}
.start_of_my_profile{
    margin-top: 28px;
    display:flex;
    background-color: transparent;
    flex-direction: column;
    border:none;
    gap: 20px;
}
.circle_and_button{
    display:flex;
    background-color: transparent;
    border:none;
    width: auto;
    position: relative;
    align-items: center;
    justify-content: left;
}
.circle_flname {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #EEEEEE;
    border-radius: 50%;
    color: #000000;        
    font-size: 15px;      
    text-align: center;   
    line-height: 50px;       
    font-weight: bold;   
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.09);
}
.card_photo {
    width: 100px;
    height: 100px;
    background-color: #D9D9D9;
    border-radius: 50%;
    font-weight: 36px;
    float: center;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.card_photo img {
    display: flex;
    height: 100%;
    width: 100%;
    object-fit: cover;
    align-self: center;
}
.user_name_and_icon{
    display:flex;
    position:relative;
    flex-direction: row;
    justify-content:left;
    width: auto;
    height: auto;
    gap: 5px;
}
.user_profile_info {
    display:flex;
    background-color: transparent;
    border:none;
    width: auto;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}
.user_fullname{
    font-weight: bold;
    font-size: 24px;
    height: 28px;
}
.email_text{
    font-size: 18px;
    color: #919191;
}
.add_skills_button{
    border-radius: 5px;
    border-color: transparent;
    cursor: pointer;
    width: 180px;
    height: 30px;
    background-color: #FFFFFF;
    font-size: 18px;
    margin-top: 5px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.09);
}
.add_skills_button:hover{
    background-color: #cfcfcf;
}
.add_skills_button:active{
    background-color: #888888;
}
.my_profile_menu{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.tabs {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    max-width: 1920px;
    width: 100%;
    margin-top: 20px;
    text-align: left;
    gap: 15px;
}
.tabs h2{
    font-size: 24px;
}
.tabs.active{
    color: rgb(6, 100, 214);
}
.tabs.active::after{
    color: rgb(6, 100, 214);
}
.head_tab_click {
    cursor: pointer;
    text-decoration: none;
    position: relative;
    border-bottom: none;
    color: #919191;
    font-size: 24px;
    font-weight: bold;
}
.head_tab_click.active{
    color: #0664d6;
}
.bottom-nav{
    display: none;
}
.change_profile {
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 30px;
    height: 30px;
    opacity: 0.8;
}
.pen{
    width: 30px;
    height: 30px;
}
.pen:hover {
    stroke: #3BB7FD;
    background-color: transparent;
}
.changing_popup {
    margin-top: 50px;
    display: none;
    position: fixed;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    width: 280px;
}
.changing_container {
    min-width: 280px;
    width: 100%;
    background-color: #dddddd;
    border-radius: 10px;
}
.changing_input_popup{
    cursor: default;
}
.changing_container input[type=text], .changing_container input[type=password] {
    width: calc(100% - 15px * 2);
    margin: 5px 0px 15px 10px;
    align-self: center;
    border: none;
    background: #f1f1f1;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: 1px 3px 2px 0px rgba(0,0,0, 0.1);
}
.changing_container input[type=text]:focus, .changing_container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
.changing_container .btn:hover, .open-button:hover {
    opacity: 1;
}  
.changing_text_popup{
    padding-bottom: 5px;
    font-size: 16px;
    margin-left: 5px;
}
.edit_and_close{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}
.close_btn{
    padding: 5px;
    margin-top: 3px;
    cursor: pointer;
}
.edit_profile{
    display: block;
    font-size: 30px;
    font-weight: bold;
    margin-left: calc( 45% - 15px * 2 - 30px);
}
.changing_text_container{
    display: flex;
    flex-direction: column;
    padding: 10px 15px 10px 15px;
}
.save_popup{
    width: 100px;
    height: 30px;
    margin-left: calc( 50% - 50px);
    border: none;
    background-color: #000000;
    font-size: 16;
    font-weight: bold;
    color:#f1f1f1;
    margin-bottom: 15px;
    cursor: pointer;
}
.changing_info_container_popup{
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    padding: 10px;
}
.ch_i_con{
    display: flex;
    flex-direction: column;
}
.save_popup:hover{
    background-color: #4d4d4d;
}
.save_popup:active{
    background-color: #5c5c5c;
}
.my_profile_info_container{
    width: auto;
    height: auto;
    display: flex;
    justify-content: left;
}
.my_profile_communication{
    display: flex;
    padding: 20px 0px 10px 0px;
    flex-direction: column;
    background-color: #F0F0F0;
    margin: 10px 15px 15px 15px;
    box-shadow: 1px 3px 2px 0px rgba(0,0,0, 0.1);
    height: 100%;
}
.letters_container{
    display: flex;
    flex-direction:  column;
    background-color: transparent;
    padding: 10px 0px 0px 0px;
    align-items: start;
    flex-wrap: wrap;
    width: 100%;
    max-width: 687.34px;
    height: auto;
    justify-content: left;
    background-color: #FFFFFF;
    border: none;
    border-radius: 15px;
    margin-left: 20px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.09);
}
.messages_container{
    display: flex;
    flex-direction: column-reverse;
}
.letters{
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100%;
    max-width: 687.34px;
}
.letters_user{
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100%;
    max-width: 687.34px;
}
.message{
    display: flex;
    flex-direction: row;
    align-items: end;
    width: calc( 100% - 20px);
    max-width: 667.34px
}
.message_user{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    align-items: end;
    width: calc( 100% - 20px);
    max-width: 667.34px
}
.full_message{
    width: calc( 95% - 60px);
    display: flex;
    flex-direction: column;
    background-color: #DDDDDD;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 15px;
}
.message_data{
    text-align: end;
    font-weight: bold;
    color:rgb(6, 100, 214);
}
.send_message{
    display: flex;
    flex-direction: row;
    margin: 15px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
    background-color: #EEEEEE;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.13);
    border-radius: 4px;
    transition: .5s;
    width: calc( 100% - 20px);
    max-width: 687.34px;
}
.user_message{
    border: none;
    background-color: transparent;
    width: calc(100% - 20px);
    height: 30px;
    font-size: 16px;
}
.user_message:focus{
    outline: none;
}
.message_button{
    display: flex;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #DDDDDD;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.message_button:hover{
    background-color: #b7b7b7;
}
.message_button:active{
    background-color: #a2a2a2;
}
.send_icon{
    align-self: center;
}
.sec_name_description{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 20px;
}
.section_name{
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    width: auto;
    margin: 20px 0px 20px 0px;
}
.section_description{
    width: calc( 100% - 40px);
    text-align: left;
    color: #5e5e5e;
    font-size: 20px;
}
.sender_profile{
    display: flex;
    flex-direction: row;
}
.sender_phone{
    text-align: center;
}
.sender_email{
    text-align: center;
}
.circle_flname2{
    display: flex;
    width: 80px;
    height: 80px;
    background-color: #EEEEEE;
    border-radius: 50%;
    color: #000000;        
    font-size: 30px;      
    text-align: center; 
    align-items: center;  
    line-height: 50px;       
    font-weight: bold;   
    justify-content: center;
    overflow: hidden;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.09);
}
.circle_flname2 img{
    display: flex;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.sender_small_info{
    display: flex;
    width: 160px;
    position: relative;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.sender_full_name_container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sender_name{
    font-size: 18px;
    text-align: right;
}
.sender_second_name{
    font-size: 18px;
    text-align: right;
}
.sender_small_info:hover .sender_popup{
    display: block;
}
.sender_full_name{
    width: auto;
    position: relative;
    height: auto;
    font-size: 18px;
}
.sender_work{
    width: auto;
    height: auto;
    font-size: 16px;
    color: rgb(6, 100, 214)
}
.re_info{
    width: auto;
    height: auto;
    position: relative;
    font-size: 16px;
    color: #919191;
}
.sender_date{
    width: auto;
    position: relative;
    font-size: 18px;
    align-self: center;
    color: #656566;
    font-weight: bold;
    text-align: left;
}
.sender_message{
    display: flex;
    flex-direction: row;
}
.message_info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 20px 20px 20px;
}
.profile_action_container{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content:left; 
    flex-wrap: wrap;
    height: 100%;
    padding: 0px 20px 0px 20px;
}
.activity_type{
    width: 100%;
    height:90px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-self: center;
    flex-direction: row;
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    margin: 10px 0px 10px 20px;
}
.sender_popup{
    display: none;
    position: absolute;
    bottom: 80px;
    right: 0px;
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
    width: 210px;
    height: auto;
    z-index: 100;
}
.senderform_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    width: auto;
    height: auto;
}
.sender_popup_info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.activity_date_ans_time{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.activity_description{
    font-size: 16px;
    color: #919191;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 60px;
    align-self: center;
    text-align: center;
}
.activity_type.col-0{
    box-shadow: 0px 1px 6px 0px rgba(6, 100, 214, 0.25);
}
.activity_type.col-1{
    box-shadow: 0px 1px 6px 0px rgb(214, 6, 6, 0.25);
}
.activity_type.col-2{
    box-shadow: 0px 1px 6px 0px rgb(214, 214, 6, 0.25);   
}
.activity_type.col-3{
    box-shadow: 0px 1px 6px 0px rgb(14, 200, 54, 0.25);  
}
.activity_type.col-4{
    box-shadow: 0px 1px 6px 0px rgb(105, 3, 56, 0.25);  
}
.activity_type_name{
    font-size: 18px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 150px;
    text-align: left;
    color:rgb(6, 100, 214);
}
.activity_type_date{
    font-size: 18px;
    color: #656566;
    font-weight: bold;
    align-items: start;
    justify-content: start;
    align-self: start;
}
.to_do{
    width: 200px;
    display: -webkit-box; /* Для роботи з багаторядковим текстом */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 2; /* Кількість видимих рядків */
    -webkit-line-clamp: 2; /* Для браузерів, які підтримують */
    max-height: calc(1.2em * 2); /* Залежить від кількості рядків */
    text-align: center;
    color:#656566;
}
.circle_flname3{
    display: flex;
    width: 60px;
    height: 60px;
    background-color: #EEEEEE;
    border-radius: 50%;
    color: #000000;        
    font-size: 30px;      
    text-align: center; 
    align-items: center;  
    line-height: 50px;       
    font-weight: bold;   
    justify-content: center;
    overflow: hidden;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.09);
}
.circle_flname3 img{
    display: flex;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.circle_flname3:hover .sender_popup{
    display:block;
}
.profile_details_container{
    padding-top: 10px;
    padding-bottom: 10px;
    align-self: center;
    align-items: center;
    display: flex;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 655px;
    height: auto;
    margin: 0;
}
.sender_icon{
    cursor: pointer;
}
.sender_choose{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    margin: 10px 0px 10px 20px;
    gap: 20px;
    align-items: start;
    border: none;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.09);
    border-radius: 15px;
    padding: 5px 15px 5px 15px;
}
.sender_icon_firstname{
    font-size: 16px;
    width: 80px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.circle_flname4{
    display: flex;
    width: 80px;
    height: 80px;
    background-color: #EEEEEE;
    border-radius: 50%;
    color: #000000;
    font-size: 30px;
    text-align: center;
    align-items: center;
    line-height: 50px;
    font-weight: bold;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.09);
}


.circle_flname5{
    display: flex;
    width: 50px;
    height: 50px;
    background-color: #EEEEEE;
    border-radius: 50%;
    color: #000000;
    font-size: 30px;
    text-align: center;
    align-items: center;
    line-height: 50px;
    font-weight: bold;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.09);
}
.send{
    cursor: pointer;
}
.name_and_email, .date_and_location{
    display: flex;
    position: relative;
    min-height: 350px;
    flex-direction: column;
    border: none;
    box-shadow: 1px 3px 2px 0px rgba(0,0,0, 0.2);
    justify-content: start;
    background-color: #F0F0F0;
}
.full_name_container, .email_container{
    padding: 10px 10px 10px 10px;
}
.name_and_email{
    flex-basis: calc( 100% / 6 - 40px * 2 );
    min-width: 280px;
    flex-grow: 1;
}
.personal_info_container{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    width: 265px;
    height: 110px;
    padding: 0px 20px;
    margin: 10px 0px 10px 20px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.09);
}
.personal_data_info_container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px 5px 5px 5px;
}
.personal_icon{
    height: 52px;
    width: auto;
}
.personal_info_description{
    font-size: 18px;
    font-weight: bold;
}
.personal_info_data{
    font-size: 16px;
    color:#919191;
    white-space: normal;
    word-wrap: break-word;
    width: auto;
    max-width: 235px;
    height: 18.4px;
}
body.dark-theme .user_fullname{
    color: #f1f1f1;
}
body.dark-theme .head_tab_click{
    color: #f1f1f1;
}
body.dark-theme .add_skills_button{
    background-color: #494949;
    color: #f1f1f1;
}
body.dark-theme .add_skills_button:hover{
    background-color: #545454;
}
body.dark-theme .add_skills_button:active{
    background-color: #727272;
}
body.dark-theme .sender_full_name{
    color: #f1f1f1;
}
body.dark-theme .re_info{
    color: #f1f1f1;
}
body.dark-theme .sender_date{
    color:#f1f1f1;
}
body.dark-theme .sender_phone{
    color: #f1f1f1;
}
body.dark-theme .sender_email{
    color: #f1f1f1;
}
body.dark-theme .activity_type{
    background-color: #494949;
}
body.dark-theme .activity_type_name{
    color: #0664d6;
}
body.dark-theme .activity_type_date{
    color: #8e8e8e
}
body.dark-theme .sender_email2{
    color: #f1f1f1;
}
body.dark-theme .name_and_email{
    background-color: #494949;
}
body.dark-theme .date_and_location{
    background-color: #494949;
}
body.dark-theme .more_info_container{
    background-color: #494949;
}
body.dark-theme .full_name_description{
    color: #f1f1f1;
}
body.dark-theme .full_name{
    color: #f1f1f1;
}
body.dark-theme .email_description{
    color: #f1f1f1;
}
body.dark-theme  .email_address{
    color: #f1f1f1;
}
body.dark-theme .date_and_location_text{
    color: #f1f1f1;
}
body.dark-theme .bir_addr_description{
    color: #f1f1f1;
}
body.dark-theme .bir_addr_info{
    color: #f1f1f1;
    border-bottom: 2px solid #f1f1f1;
}
body.dark-theme .bir_and_addr_img{
    fill: #f1f1f1;
}
body.dark-theme .more_info_name{
    color: #f1f1f1;
}
body.dark-theme .changing_container{
    background-color: #3E3E3E;
}
body.dark-theme .edit_profile{
    color: #f1f1f1;
}
body.dark-theme .changing_text_popup{
    color: #f1f1f1;
}
body.dark-theme .changing_text_popup{
    color: #f1f1f1;
}
body.dark-theme .changing_input_popup{
    color: #f1f1f1;
    background-color: #494949;
}
body.dark-theme .changing_input_popup:focus{
    background-color: #656566;
}
body.dark-theme .sender_name{
    color: #F1F1F1;
}
body.dark-theme .sender_second_name{
    color: #F1F1F1;
}
body.dark-theme .sender_popup{
    background-color: #3E3E3E;
    border-color: #494949;
}
@media (max-width: 1280px){
    section#my_profile_page {
        max-width: min(1920px, calc( 100% - 60px));
    }
    .my_profile_page_inner{
        gap: 50px;
    }
}
@media (max-width: 1024px){
    .profile_details_container{
        align-items: center;
        justify-content: center;
    }
    .my_profile_page_inner{
        gap: 40px;
    }
    .personal_info_container{
        width: 100%;
    }
    .sender_choose{
        width: calc( 100% - 30px);
    }
    .letters_container{
        width: 100%;
    }
    .send_message{
        padding: 0px;
        width: 100%;
    }
    .user_message{
        width: calc( 90%);
    }
}
@media (max-width:768px){
    section#my_profile_page {
        max-width: min(1920px, 100%);
    }
    .your_image_popup{
        width: 80%;
        min-width: 280px;
    }
    .sender_choose{
        width: calc( 100% - 30px);
        margin: 10px 0px 10px 0px;;
    }
    .my_profile_page_inner{
        flex-direction: column;
        gap: 20px;
        padding-bottom: 50px;
    }
    .bottom-nav {
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        background-color: #ffffff;
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
        padding: 10px 0;
    }
    .nav-item {
        text-decoration: none;
        color: #333;
        font-size: 16px;
        text-align: center;
    }
    
    .nav-item:hover,
    .nav-item.active {
        color: #007bff;
    }
    .email_text{
        text-align: center;
    }
    .my_profile_info_container{
        justify-content: space-around;
        align-items: center;
    }
    .my_profile_menu{
        display: none;
    }
    .profile_details_container{
        align-self: center;
        max-width: none;
        gap: 10px;
    }
    .personal_info_container{
        margin: 0px;
    }
    .activity_type{
        margin-left: 0px;
    }
    .sender_letter_container{
        margin-left: 0px;
    }
    .letters_container{
        max-width: none;
        margin: 0px;
    }
    .profile_section{
        justify-content: space-around;
        align-items: center;
    }
    .section_description{
        font-size: 16px;
        text-align: center;
    }
    .head_tab_click{
        font-size: 18px;
    }
    .head_tab_click h2{
        font-size: 18px;
    }
    h2{
        font-size: 18px;
    }
    .tabs{
        font-size: 18px;   
        gap: 0px; 
    }
    .tabs h2{
        font-size: 18px;
    }
    .section_name{
        display: none;
    }
    .tabs{
        text-align: center;
        width: auto;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .tabs h2{
        text-align: center;
    }
    .tabs h2:active{
        text-align: center;
    }
    .user_profile_info{
        gap: 15px;
    }
    .start_of_my_profile{
        align-items: center;
        flex-direction: row;
        justify-content: center;
    }
    .user_name_and_icon{
        justify-content: space-around;
    }
    .user_fullname{
        font-size: 21px;
    }
    .pen{
        width: 24px;
        height: 24px;
    }
    .email_text{
        font-size: 15px;
    }
    .add_skills_button{
        width: 150px;
        height: 25px;
        font-size: 15px;
        align-self: center;
    }
    .card_photo{
        width: 150px;
        height: 150px;
    }
    .tabs{
        gap:25px;
        text-align: center;
        border-width: 220px;
    }
    .tabs h2{
        font-size: 24px;
        text-align: center;
        border-width: 220px;
    }
    .sender_full_name{
        font-size: 18px;
    }
    .re_info{
        font-size: 18px;
        margin-bottom: 5px;
    }
    .sender_date{
        font-size: 18px;
    }
    .circle_flname2{
        width: 60px;
        height: 60px;
    }
    .message_info{
        padding: 5px 5px 5px 5px;
    }
    .activity_type{
        padding: 10px 10px 10px 10px;
        width: calc(100% - 20px - 20px);
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .activity_type_date{
        font-size: 15px;
        text-align: center;
        align-self: center;
    }
    .activity_type_name{
        font-size: 15px;
        text-align: center;
        width:100px;
    }
    .circle_flname3{
        width: 40px;
        height: 40px;
    }
}
@media (max-width: 400px){
    .start_of_my_profile{
        flex-direction: column;
        margin-left: 0px;
        margin-top: 0px;
    }
    .profile_section{
        padding: 0px 0px 0px 0px;
    }
    .my_profile_menu{
        margin-top: 20px;
    }
    .tabs{
        gap: 0px;
        align-self: center;
        width: max-content;
        text-align: center;
    }
    .sender_info{
        flex-direction: column;
        padding: 10px 10px 10px 10px;
    }
    .sender_profile{
        justify-content: space-around;
    }
    .sender_full_name{
        text-align: center;
    }
    .re_info{
        text-align: center;
        margin-bottom: 5px;
    }
    .sender_small_info{
        margin-left: 0px;
    }
    .activity_type{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        height: auto;
        justify-content: space-between;
        padding-top: 10px;
        width: 100%;
    }
    .activity_type_date{
        align-self: center;
        text-align: left;
    }
    .item-0{
        order:2;
    }
    .item-1{
        order:3;
        align-self: flex-end;
    }
    .item-2{
        order:1;
    }
    .activity_description{
        padding: 10px 0px 10px 0px;
        width: 100%;
    }
    .sender_small_info{
        align-self: end;
    }
    .activity_date_ans_time{
        align-items: left;
        align-self: start;
    }
    .activity_type_name{
        text-align: center;
        align-self: start;
    }
    .sender_email2{
        text-align: center;
    }
    .circle_flname3{
        align-self: center;
        justify-content: center;
    }
    .sender_message{
        flex-direction: column;
    }
    .nav-item{
        font-size: 14px;
    }
}
@media (max-width: 280px){

}
.skills_popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    align-items: center;
    width: 200px;
}
.skills_container{
    width: 100%;
    background-color: #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}
.checkbox-buttons {
    display: flex;
    gap: 10px;
    align-self: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.checkbox-btn {
    padding: 5px 5px;
    border: none;
    border-radius: 10px;
    background-color: #f0f0f0;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
    width: auto;
    min-width: 40px;
    box-shadow: 1px 3px 2px 0px rgba(0,0,0, 0.1);
}
.checkbox-btn.active {
    background-color: #007bff;
    color: #fff;
    border-color: #0056b3;
}
.checkbox-btn:hover {
    background-color: #b9b9b9;
}
.add_skills_start{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}
.add_skills_text{
    display: flex;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.add_more{
    text-align: center;
    font-weight: bold;
    padding: 10px 0px 10px 0px;
}
.background_popup {
    display: none;
    background-color: rgba(255, 255, 255, 0);
    transition: 0.5s ease-in-out;
}
.more_skills{
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 5px;
}
.name_new_skill{
    width: 150px;
    background-color: #EEEEEE;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.13);
    border-radius: 4px;
    font-size: 18px;
    transition: .5s;
    border: none;
    font-size: 13.33px;
}
.name_new_skill:focus{
    outline: none;
    background-color: #CCCCCC;
}
.add_new_skill{
    width: 24px;
    height: 24px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.13);
    background-color: #EEEEEE;
    transition: 0.3s ease;
}
.add_new_skill:hover{
    background-color: #cfcfcf;
}
.add_new_skill:active{
    background-color: #8a8a8a;
}
.save_more_info{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 10px 0px 10px 0px;
    width: 100px;
    height: 24px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.13);
    cursor: pointer;
    background-color: #EEEEEE;
    transition: 0.3s ease;
}
.save_more_info:hover{
    background-color: #cfcfcf;
}
.save_more_info:active{
    background-color: #8a8a8a;
}
.background_popup.active {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
/* /EDIT PROFILE POPUP/ */
.dropdown{
    flex-direction: column;
}
.dropdown label{
    font-size: 18px;
    font-weight: bold;
}
/* /POPUP */

.popup_container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.close_name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.upload_description{
    width: calc( 50% - 20px)
}

/* IMAGEDROP */

.your_image_popup{
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 70%;
    background-color: #F6F6F6;
    min-width: 600px;
    max-height: 500px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-shrink: 1;
    padding: 20px;
}
.your_image_popup h1{
    text-align: left;
    font-size: 30px;
    width: 100%; 
}
.drop_img_container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    background: none;
    height: 80%;
    width: 80%;
    border: 1px dashed #000000;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.drop_img_container_txt{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    color: #7E7E7E;
}
.drop_img_container_txt H1{
    text-align: center;
    font-weight: 500;
}
.drop_img_button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 30px;
    background-color: #F6F6F6;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.13);
    cursor: pointer;
}
@media (max-width: 768px){
    .your_image_popup{
        width: 80%;
        min-width: 280px;
    }
}
body.dark-theme .skills_container{
    background-color: #3E3E3E;
}
body.dark-theme .checkbox-btn{
    background-color: #494949;
    color: #f1f1f1;
}
body.dark-theme .add_skills_text{
    color: #f1f1f1;
}
body.dark-theme .checkbox-btn:hover{
    background-color: #5d5d5d;
}
body.dark-theme .checkbox-btn.active{
    background-color: #007bff;
    color: #000000;
    border-color: #0056b3;
}
body.dark-theme .section_name{
    color: #F1F1F1;
}
body.dark-theme .personal_info_container{
    background-color: #494949;
}
body.dark-theme .personal_info_description{
    color: #F1F1F1;
}
body.dark-theme .add_more{
    color: #F1F1F1;
}
body.dark-theme .name_new_skill{
    background-color: #494949;
    color: #F1F1F1;
}
body.dark-theme .name_new_skill:focus{
    background-color: #5d5d5d;
}
body.dark-theme .add_new_skill{
    background-color: #494949;
    color:#F1F1F1;
}
body.dark-theme .add_new_skill:hover{
    background-color: #5d5d5d;
}
body.dark-theme .add_new_skill:active{
    background-color: #646464;
}
body.dark-theme .save_more_info{
    background-color: #494949;
    color: #F1F1F1;
}
body.dark-theme .save_more_info:hover{
    background-color: #5d5d5d;
}
body.dark-theme .save_more_info:active{
    background-color: #646464;
}
body.dark-theme .dropdown label{
    color: #F1F1F1;
}
body.dark-theme .profile_input{
    background-color: #494949;
    color: #F1F1F1;
}
body.dark-theme .profile_input:focus{
    background-color: #5d5d5d;
}
body.dark-theme .close_name h1{
    color: #F1F1F1;
}
body.dark-theme .your_image_popup{
    background-color: #262626;
}
body.dark-theme .drop_img_button{
    background-color: #494949;
    color: #F1F1F1;
}
body.dark-theme .drop_img_button:hover{
    background-color: #5d5d5d;
}
body.dark-theme .drop_img_button:active{
    background-color: #646464;
}
body.dark-theme .tabs.active{
    color: rgb(6, 100, 214);
}
body.dark-theme .tabs.active::after{
    color: rgb(6, 100, 214);
}
body.dark-theme .head_tab_click.active{
    color: #0664d6;
}
body.dark-theme .bottom-nav{
    background-color: #494949;
}
body.dark-theme .nav-item{
    color: #f1f1f1;
}
body.dark-theme .nav-item.active::after{
    color: #0664d6;
}
body.dark-theme .nav-item.active{
    color: #0664d6;
}
body.dark-theme .sender_icon_firstname{
    color: #F1F1F1
}
body.dark-theme .sender_choose{
    background-color: #494949;
}
body.dark-theme .sender_message{
    color: #F1F1F1;
}
body.dark-theme .user_message{
    color: #f1f1f1;
    background-color: #262626;
}
body.dark-theme .send_icon{
    stroke: #F1F1F1;
}
body.dark-theme .letters_container{
    background-color: #494949;
}
body.dark-theme .message_button{
    background-color: #494949;
}
body.dark-theme .message_button{
    background-color: #5e5e5e;
}
body.dark-theme .message_button{
    background-color: #838383;
}
body.dark-theme .full_message{
    background-color: #262626;
}
body.dark-theme .send_message{
    background-color: #262626;
}
