section#setting-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.setting-popup-inner {
    width: calc( 100% - 100px);
    height: calc( 100% - 100px);
    display: flex;
    flex-direction: column;
    min-width: 280px;
    align-self: center;
    overflow: hidden;
    padding: 10px;
    background-color: #FFFFFF;
    border:none;
    border-radius: 14px;;
}
.close_setting{
    display:flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}
.close_setting_svg{
    cursor:pointer;
}
.close_setting_svg path{
    stroke: #d8d5df;
}
.close_setting_svg:hover path{
    stroke: #b6b5b9;
}

/* ----- dark-theme -------*/

body.dark-theme .close_setting_svg path{
    stroke: #d8d5df;
}
body.dark-theme .setting-popup-inner{
    background-color: #181B34;
}