section#index-page {
    max-width: min(1920px, calc(100%));
    margin: 0 auto;
    overflow: hidden;
    border-radius: 5px;
    height: 100%;
}
.index-page-inner {
    width: calc( 100% - 20px);
    height: calc( 100vh - 69px);
    display: flex;
    flex-direction: column;
    min-width: 280px;
    align-self: center;
    overflow: hidden;
    padding: 10px;
}
.leads_page_head{
    display: flex;
    flex-direction: row;
    padding: 15px;
    width: calc( 100% - 30px);
    height: auto;
    justify-content: space-between;
}
.page_name{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}
.page_head_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
}
.import, .integrate, .head_help, .head_icon, .invite_button_head_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    padding: 0px 5px 0px 5px;
}
.import:hover, .integrate:hover, .head_help:hover {
    backdrop-filter: blur(30px);
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
}
.import:hover .import_text, .integrate:hover .integrate_text, .head_help:hover, .head_icon:hover, .invite_button_head_container:hover{
    color: #2D64AB;
}
.import:hover .pic-1 path, .integrate:hover .pic-2 path , .head_help:hover .pic-3 path{
    stroke: #2D64AB;
}
.card_photo{
    width: 25px;
    height: 25px;
    background-color: #D9D9D9;
    border-radius: 50%;
    float: left;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.page_name_text{
    font-size: 24px;
    display: flex;
    text-align: center;
    align-items: center;
}
.import_text, .integrate_text{
    font-size: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    height: 24px;
}
.head_svg{
    display: flex;
}
.invite_button_head_container{
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
}
.invite_btn_head{
    background-color: transparent;
    height: 30px;
    border: 1px solid #b1b1b1;
    border-radius: 5px;
    width: 60px;
    cursor: pointer;
}
.invite_btn_head:hover{
    backdrop-filter: blur(30px);
    background-color: rgba(196, 196, 196, 0.3);
}
.leads_main_container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    width: calc( 100% - 30px);
    height: auto;
}
.leads_main_menu{
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.nav_lead_table, .nav_lead_form, .nav_lead_plus{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}
.nav_lead_table{
    width: 105px;
    gap: 5px;
}
.nav_lead_form{
    width: 75px;
    font-size: 14px;
}
.nav_lead_plus{
    width: 32px;
}
.arrow_svg{
    display: flex;
    align-items: center;
}
.nav_lt_text{
    font-size: 14px;
    display: flex;
    height: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.new_lead_menu{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: left;
}
.new_lead_button_container{
    display: flex;
    flex-direction: row;
    align-items:center;
    height: auto;
    background-color: #2D64AB;
    border: 1px solid #b1b1b1;
    border-radius: 5px;
}
.new_lead_btn_left{
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 5px;
}
.new_lead_line{
    height: 28px;
    width: 1px;
    background-color: #b1b1b1;
    border: none;
}
.new_lead_btn_left:hover{
    background-color: #5b7aa2;
}
.arrow_svg{
    cursor: pointer;
}
.search_btn_lcont, .person_container{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    cursor: pointer;
    padding: 0px 5px 0px 5px;
    height: 29.6px;
}
.person_hover_container{
    display: none;
    width: 140px;
    height: 30px;
    background-color: #333;
    align-items: center;
    text-align: center;
    align-self: center;
    justify-content: center;
    padding: 5px;
    position: absolute;
    cursor: default;
    border: none;
    border-radius: 5px;
    bottom: 35px;
}
.person_hover_text{
    color:#d5d8df;
    display: flex;
    font-size: 14px;
    white-space: nowrap;
}
.person_container:hover .person_hover_container{
    display: flex;
}
.person_popup{
    display: none;
    position: absolute;
    background-color: #CDCDCD;
    width: 270px;
    height: 40px;
    padding: 15px;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.09);
    top: 210px;
    margin-left: 110px;
    z-index: 10;
}
.person_popup.pop{
    display: flex;
}
#person_popup.pop{
    display: flex;
}
.person_popup_text{
    font-size: 15px;
}
.search_text, .person_text{
    font-size: 14px;
    color: #000000;
    display: flex;
}
.search_text.active{
    display: none;
}
.search_btn_lcont:hover, .person_container:hover{
    backdrop-filter: blur(30px);
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 5px;
} 
.search_btn_lcont:hover .search_text{
    color:#2D64AB;
}
.search_btn_lcont:hover .pic-4 path{
    stroke: #2D64AB;
}
.search_input{
    background-color: transparent;
    color: #000000;
    outline: none;
    border: none;
    display: none;
}
.search_input.active{
    display: flex;
}
.person_container:hover .person_text{
    color: #2D64AB;
}
.person_container:hover .pic-5 path{
    stroke:#2D64AB;
}
.leads_main_page_container{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow: hidden;
    height:80%;
}
.leads_main_page{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}
.leads_top{
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding: 10px 0 10px 0;
    width: 100%;
    height: auto;
    z-index: 2;
}
#leads_top.active{
    background-color: #CDCDCD;
    border: 1px solid #aaa;
    border-radius: 5px;
    width: 100vw;
    position: sticky;
    left: 0;
}
.leads_top_name_container{
    position: sticky;
    left: 34px;
    z-index: 2;
}
.leads_top_name{
    font-size: 18px;
    color:#2D64AB;
    box-sizing: border-box;
    align-items: center;
    background-color: transparent;
    width: 220px;
    border: none;
    position: sticky;
    align-self: flex-start;
    left: 0;
    z-index: 2;
}
.leads_top_name:focus{
    outline:#2D64AB;
}
.lead_amount{
    font-size: 14px;
    color:#b1b1b1;
    display: flex;
    align-items: center;
    position: sticky;
    left: 264px;
    z-index: 2;
}
.arr_lead{
    cursor: pointer;
    display: flex;
    position: sticky;
    left: 0;
    z-index: 2;
}
#arrow_open_lead{
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
}
#arrow_open_lead.active{
    transform: rotate(-90deg);
}
.arr_lead path{
    stroke: #2D64AB;
}
.custom_checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    background-color: transparent;
}
.custom_checkbox input {
    display: none;
}
.custom_checkbox input:checked + .checkmark {
    background-color: #2D64AB;
}
.checkmark {
    width: 15px;
    height: 15px;
    border: 2px solid #333;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    margin-right: 8px;
    transition: background-color 0.2s ease; 
}
.custom_checkbox input:checked + .checkmark::after {
    content: "";
    position: absolute;
    left: 4px;
    bottom: 4px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid #333;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.custom_checkbox.unactive {
    pointer-events: none;
    opacity: 0.5;
    cursor: default;
}
.custom_checkbox.unactive .checkmark {
    background-color: transparent !important;
    border-color: #aaa;
}
.custom_checkbox.unactive .checkmark::after {
    display: none;
}
.table_container{
    display: flex;
    height: 100%;
    overflow-x: visible;
    white-space: nowrap;
    position: relative;
    scroll-behavior: smooth;
    flex-direction: column;
    gap: 10px;
}
.leads_bottom{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    white-space: nowrap;
    overflow-x:auto;
    height: max-content;
    margin-left: 15px;
    gap: 20px;
    min-height: 400px;
    position: relative;
}
.leads_table{
    display: flex;
    flex-direction: column;
    max-height: auto;
    overflow-y: visible;
    min-width: 600px;
    width: fit-content;
    border-radius: 5px;
    position: sticky;
    left:0;
    overflow-x: visible;
}
.invisible_table{
    background-color: transparent;
    width: 100%;
    height: 110px;
    min-height: 110px;
}
.ltable_all{
    background-color: #CDCDCD;
    border: 1px solid #aaa;
    border-left: 5px solid #2D64AB;
    border-radius: 5px;
}
#ltable_all.active{
    display: none;
}
.ltable_all.active{
    display: none;
}
.ltable_body, .ltable_create, .ltable_head{
    display: flex;
    flex-direction: row;
    min-width: max-content;
}
.lead_main_info{
    display: flex;
    flex-direction: row;
}
.check_all_leads, .check_current_lead{
    display: flex;
    align-items: center;
    padding: 8px 0px 8px 8px;
    position: sticky;
    border: 1px solid #aaa;
    left: 0px;
    background: #CDCDCD;
    z-index: 2;
}
.tname, .current_lead_name{
    display: flex;
    align-items: center;
    width: 350px;
    justify-content: center;
    position: sticky;
    border: 1px solid #aaa;
    left: 35px;
    background: #CDCDCD;
    z-index: 2;
    font-size: 14px;
}
.checked_row .current_lead_name{
    background: #2F517B;
}
.tname{
    top:0;
}
.new_lead{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    font-size: 14px;
    position: sticky;
    left: 35px;
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    cursor: pointer;
}
.board{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #aaa;
    font-size: 14px;
}
.board_input{
    width: calc( 100% - 10px);
    background-color: transparent;
    border: none;
    border-radius: 5px;
    text-align: center;
}
.board_input:hover{
    border: 1px solid #aaa;
    border-radius: 5px;
}
.board_input:focus{
    border: 1px solid #aaa;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
    transition: border-color 0.2s, box-shadow 0.2s;
}
.tstatus, .current_status{
    width: 130px;
}
.torg, .current_organization{
    width: 130px;
}
.temail, .current_email, .tcomment, .ttitle, .current_title, .current_comment{
    width:180px;
}
.tphone, .current_phone{
    width:170px;
}
.taddress, .current_address{
    width: 170px;
}
.current_status, .status_btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.status_btn{
    width: 100%;
    height: 100%;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: clip-path 0.3s ease-in-out;
    transition: filter 0.3s ease-in-out;
    cursor: pointer;
}
.status_btn:hover{
    clip-path: polygon(0 0, 90% 0, 100% 20%, 100% 100%, 0 100%);
    filter: brightness(90%);
}
.variant{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.vnew{
    background-color: #FDBC64;
}
.vnew:hover{
    filter: brightness(90%);
}
.vcontacted{
    background-color: #50C878;
}
.vcontacted:hover{
    filter: brightness(90%);
}
.vuncontacted{
    background-color: #FF8358;
}
.vuncontacted:hover{
    filter: brightness(90%);
}
.vblocked{
    background-color: #EB4C42;
}
.vblocked:hover{
    filter: brightness(90%);
}
.status_popup{
    display: none;
    background-color: #2D64AB;
    position: absolute;
    width: 130px;
    align-items: center;
    justify-content: center;
    height: 160px;
    top:36px;
    z-index: 20;
}
.status_variant{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: calc( 100% - 20px);
    padding: 10px;
    gap: 10px;
}
.new_table_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: auto;
    position: fixed;
    align-self: flex-end;
    bottom: 0;
    z-index: 7;
    margin-bottom: 35px;
    margin-right: 10px;
}
.add_table{
    background-color: transparent;
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 5px;
    width: 140px;
    height: 35px;
    font-size: 16px;
    position: sticky;
    cursor: pointer;
}
.add_table:hover{
    backdrop-filter: blur(30px);
    background-color: rgba(0, 0, 0, 0.1);
}
.checked_row{
    background-color: #2F517B;
}
.main_row_popup_container{
    display: none;
    flex-direction: row;
    position: absolute;
    bottom: 50px;
    width: 80%;
    align-items: center;
    justify-content: center;
}
.main_row_popup{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #CDCDCD;
    border: none;
    border-radius: 7px;
    width: auto;
    overflow: hidden;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.09);
}
.mass_email_text, .duplicate_row_text, .export_row_text, .delete_row_text {
    font-size: 12px;
}
.row_selected_text{
    font-size: 20px;
}
.chosen_amount_text{
    font-size: 24px;
}
.mass_email_container, .duplicate_row_container, .export_row_container, .delete_row_container{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding: 13px;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 5px;
    width: auto;
    height: auto;
    cursor: pointer;
}
.row_selected_container{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding: 13px;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 5px;
    width: auto;
    height: auto;
}
.mass_email_container:hover .mass_email_text{
    color: #2D64AB;
}
.mass_email_container:hover .mass_email_svg path{
    fill: #2D64AB;
}
.duplicate_row_container:hover .duplicate_row_svg path{
    stroke: #2D64AB;
}
.duplicate_row_container:hover .duplicate_row_text{
    color: #2D64AB;
}
.export_row_container:hover .export_row_text{
    color:#2D64AB;
}
.export_row_container:hover .export_row_svg path{
    stroke: #2D64AB;
}
.delete_row_container:hover .delete_row_svg path{
    stroke:#2D64AB;
}
.delete_row_container:hover .delete_row_text{
    color:#2D64AB;
}
.close_main_popup{
    width: 68.6px;
    height: 68.6px;
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-left: 1px solid #aaa;
    cursor: pointer;
}
.close_main_popup:hover .close_main_svg path{
    stroke:#2D64AB;
}
.main_row_popup_line{
    display: flex;
    position: relative;
    background-color: #000000;
    width: 1px;
    height: 100%;
}
.chosen_amount_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 68.6px;
    height: 68.6px;
    background-color: #2D64AB;
}
.export_popup, .invite_lead_popup{
    position: fixed;
    inset: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 200;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.export_popup_container{
    display: flex;
    inset: 50% auto auto 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;
    border: none;
    border-radius: 8px;
    height: auto;
    width: auto;
    max-height: 90vh;
    max-width: 1020px;
    background-color: #CDCDCD;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.09);
}
.name_and_close_export{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.name_export{
    display: flex;
    font-size: 24px;
}
.main_info_export{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
.line_export_container{
    display: flex;
    width: 100%;
    flex-direction: row;
}
.close_export_svg{
    cursor: pointer;
}
.export_check_text, .note_export_container{
    font-size: 14px;
}
.note_export_container{
    color:#aaa;
}
.export_button{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: auto;
    margin-top: 20px;
}
.export_btn{
    display: flex;
    text-align: center;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.09);
    font-size: 16px;
    background-color: #2D64AB;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.export_btn:hover{
    background-color: #2F517B;
}
.export_btn:active{
    background-color: #30324E;
}
.lead_amount_container{
    display: flex;
    flex-direction: row;
    position: sticky;
    left: 269px;
    z-index: 2;
    gap: 5px;
}
.lead_amount_text{
    font-size: 14px;
    display: flex;
    align-items: center;
    position: sticky;
    left: 289px;
    z-index: 2;
}
.invite_container{
    display: flex;
    flex-direction: column;
    padding: 32px;
    inset: 50% auto auto 50%;
    width: auto;
    height: auto;
    max-height: 90vh;
    min-height: 550px;
    min-width: 500px;
    max-width: 1020px;
    border: none;
    border-radius: 8px;
    background-color: #CDCDCD;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.09);
}
.invite_text_close{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;

}
.invite_text{
    font-size: 24px;
}
.close_invite_container{
    cursor: pointer;
}
.main_invite_container{
    display:flex;
    flex-direction: column;
    position: relative;
    gap: 25px;
}
.invite_search_text{
    margin-top: 20px;
    width: calc( 100% - 3px);
    height: 30px;
    outline: #aaa;
    border: none;
    padding-left: 3px;
    border-radius: 3px;
}
.invite_search_text:focus{
    outline: none;
    box-shadow: 0 0 5px rgba(0, 48, 103, 0.5);
    transition: border-color 0.2s, box-shadow 0.2s;
}
.invite_description_container{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.invite_description_text{
    font-size: 14px;
}
.invited_leads_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.invited_lead{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.invited_lead_name{
    font-size: 14px;
    display: flex;
    align-items: center;
}
.invited_lead_star path{
    stroke:#2D64AB;
}
.close_lead_svg path{
    stroke:#7e7e7e;
}
.close_lead_svg{
    cursor: pointer;
}
.invite_icon_name_container, .invite_star_close_container{
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    gap:10px;
    align-items: center;
}
.search_display_container{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    width: 480px;
    height: auto;
    padding: 10px;
    background-color: #d5d8df;
    gap: 5px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.09);
    border: 1px solid #aaa;
    border-radius: 8px;
    
}
.people_invite_description_container{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 5px;
}
.people_invite_description{
    font-size: 14px;
    color: #aaa;
    cursor: default;
}
.people_invite_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    cursor: pointer;
    gap: 5px;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
.people_invite_container:hover{
    background-color: #CDCDCD;
}
.people_invite_name{
    font-size: 14px;
    color: #000000;
}
.team_invite_text_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 5px;
}
.team_invite_text{
    font-size: 14px;
    color: #aaa;
    cursor: default;
}
.team_invite_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    cursor: pointer;
    gap: 5px;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
.team_invite_container:hover{
    background-color: #CDCDCD;
}
.team_invite_description{
    font-size: 14px;
    color:#000000;
}
.invite_btn_popup{
    cursor:pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 5px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}
.invite_btn_popup:hover{
    background-color:#CDCDCD ;
}
.invite_btn_text{
    font-size: 14px;
    color:#2D64AB;
}
.invite_btn_popup_svg path{
    stroke:#2D64AB;
}
.page_messager_container{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 45%;
    right: 0;
    opacity: 0;
    padding: 15px;
    height: 100%;
    background-color: #e9e9e9;
    z-index: 20;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.09);
    overflow-y:auto;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: transform 0.5s ease, opacity 0.5s ease, visibility 0.5s;
}
.page_messager_description_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.board_name_feedback_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    position: relative;
}
.close_messager_popup{
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    cursor: pointer;
    gap: 2px;
}
.close_message_line{
    height: 100%;
    width: 1px;
    border: none;
}
.feedback_button, .lead_board_container, .close_main_popup, .page_messager_head_container{
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    gap: 5px;
}
.close_main_container{
    display: flex;
    width: 24px;
    height: 24px;
}
.close_main_container:hover .close_main_svg path{
    stroke: #2D64AB;
}
.lead_board_name, .feedback_text{
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: center;
}
.lead_board_name{
    color:#aaa;
}
.feedback_button{
    padding-right: 5px;
}
.feedback_button:hover .feedback_text{
    color:#2D64AB;
}
.feedback_button:hover .feedback_svg path{
    stroke:#2D64AB;
}
.page_messager_head_container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.page_messager_head{
    font-size: 24px;
}
.messager_main_line{
    width: 100%;
    height: 1px;
    border: none;
    background-color: #000000;
}
.page_messager_container.active {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}
.write_message_container{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 10px;
    padding-top: 10px;
}
.write_message_head_container{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.write_message_head{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.write_message_head_text{
    font-size: 14px;
    color:#aaa;
}
.write_message_head_svg path{
    stroke:#aaa;
}
.write_message_head:hover .write_message_head_text{
    color:#2D64AB;
}
.write_message_head:hover .write_message_head_svg path{
    stroke:#2D64AB;
}
.editor_container{
    border: 1px solid #30324E;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    height: 150px;
}
.ql-toolbar.ql-show{
    width: 100%;
}
.send_message_btn{
    display: flex;
    flex-direction: row;
    width: auto;
    height:auto;
}
.update_message_btn{
    display: flex;
    padding: 10px;
    width: 100px;
    font-size: 14px;
    background-color:#2D64AB;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.09);
    border: none;
    border-radius: 5px;
    height: auto;
}
.update_message_btn:hover{
    background-color: #2F517B;
}
.workspace_photo{
    width: 250px;
    height: 250px;
}
.discussion_container{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    overflow-y: auto;
    margin-top: 10px;
}
.no_discussion_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
}
.no_discussion_text_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.no_dis_head, .no_dis_bot{
    display: flex;
    text-align: center;
    height: auto;
}
.no_dis_bot{
    width: 400px;
    font-size: 14px;
}
.no_dis_head{
    font-size: 16px;
    font-weight: bold;
}
.yes_discussion_container{
    display: none;
    flex-direction: column;
    gap: 15px;
}
.my_message{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    background-color: transparent;
    gap: 10px;
}
.from_sender{
    flex-direction: row-reverse;
}
.message_text_container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #7e7e7e;
    border: none;
    border-radius: 10px;
    width: calc( 100% - 50px );
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.09);
    padding: 7px;
    position: relative;
}
.message_text{
    display: flex;
    flex-direction: row;
    color: #000000;
}
.message_time{
    display: flex;
    color: #2D64AB;
    text-align:right;
    justify-content: flex-end;
}
.mess_photo{
    align-self: flex-end;
    position: relative;
    width: 35px;
    height: 35px;
}

/* ------------------------------------ Чорна тема сторінки ------------------------------------------------*/

/*editor dark*/
body.dark-theme #editor {
    background: transparent; /* Темний фон */
    color: #ddd; /* Світлий текст */
    border: 1px solid #30324E;
}
body.dark-theme .ql-toolbar {
    background: #30324E;
    border-color: #444;
    border: none;
}
body.dark-theme .ql-picker-label, 
body.dark-theme .ql-stroke {
    color: #ddd;
    stroke: #ddd;
}
/*editor dark end style*/
body.dark-theme .message_text{
    color:#d5d8df;
}
body.dark-theme .message_text_container{
    background-color:#30324E;
}
body.dark-theme .no_dis_bot, body.dark-theme .no_dis_head{
    color:#d5d8df;
}
body.dark-theme .workspace_photo{
    filter: invert(1);
}
body.dark-theme .update_message_btn{
    color: #d5d8df;
}
body.dark-theme .messager_main_line{
    background-color:#aaa;
}
body.dark-theme .page_messager_head{
    color: #d5d8df;
}
body.dark-theme .feedback_svg path{
    stroke: #d5d8df;
}
body.dark-theme .lead_board_svg path{
    stroke: #aaa;
}
body.dark-theme .feedback_text{
    color: #d5d8df;
}
body.dark-theme .close_message_line{
    background-color: #aaa;
}
body.dark-theme .close_main_svg path{
    stroke:#d5d8df;
}
body.dark-theme .page_messager_container{
    background-color: #181B34;
}
body.dark-theme .people_invite_container:hover{
    background-color:#30324E ;
}
body.dark-theme .team_invite_container:hover{
    background-color:#30324E ;
}
body.dark-theme .invite_btn_popup:hover{
    background-color:#30324E ;
}
body.dark-theme .team_invite_description{
    color:#d5d8df;
}
body.dark-theme .team_invite_container_svg path{
    stroke:#d5d8df;
}
body.dark-theme .people_invite_name{
    color:#d5d8df;
}
body.dark-theme .search_display_container{
    background-color: #181B34;
}
body.dark-theme .invite_search_text{
    background-color: #181B34;
    border: 1px solid #aaa;
    color: #aaa;
}
body.dark-theme .invite_container{
    background-color: #30324E;
}
body.dark-theme .invite_text{
    color:#d5d8df;
}
body.dark-theme .invite_description_svg path{
    stroke: #d5d8df;
}
body.dark-theme .invited_lead_icon path{
    stroke:#d5d8df;
}
body.dark-theme .invite_description_text{
    color:#d5d8df;
}
body.dark-theme .invited_lead_name{
    color:#d5d8df;
}
body.dark-theme .lead_amount_text{
    color: #B1B1B1;
}
body.dark-theme .export_popup_container{
    background-color: #181B34;
}
body.dark-theme .export_btn{
    color:#d5d8df;
}
body.dark-theme .name_export{
    color:#d5d8df;
}
body.dark-theme .export_check_text{
    color:#d5d8df;
}
body.dark-theme .close_export_svg path{
    stroke:#d5d8df;
}
body.dark-theme .index-page-inner{
    background-color: #1C1F3B;
}
body.dark-theme .page_name_text{
    color: #d5d8df;
}
body.dark-theme .arr_main path, .arr_choose path{
    stroke: #d5d8df;
}
body.dark-theme .nav_lt_text{
    color:#d5d8df;
}
body.dark-theme .nav_lead_form{
    color: #d5d8df;
}
body.dark-theme .new_lead_btn_left{
    color:#d5d8df;
}
body.dark-theme .pic-1 path{
    stroke:#d5d8df;
}
body.dark-theme .pic-2 path{
    stroke:#d5d8df;
}
body.dark-theme .pic-3 path{
    stroke:#d5d8df;
}
body.dark-theme .pic-4 path{
    stroke:#d5d8df;
}
body.dark-theme .pic-5 path{
    stroke:#d5d8df;
}
body.dark-theme .pic-6 path{
    stroke:#d5d8df;
}
body.dark-theme .pic-7 path{
    stroke:#d5d8df;
}
body.dark-theme .import_text{
    color:#d5d8df;
}
body.dark-theme .integrate_text{
    color:#d5d8df;
}
body.dark-theme .invite_btn_head{
    color:#d5d8df;
}
body.dark-theme .search_text{
    color:#d5d8df;
}
body.dark-theme .person_text{
    color: #d5d8df;
}
body.dark-theme .add_table{
    color:#d5d8df;
}
body.dark-theme .add_table:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
body.dark-theme .board{
    color:#d5d8df;
}
body.dark-theme .board_input{
    color:#d5d8df;
}
body.dark-theme .new_lead{
    color:#d5d8df;
}
body.dark-theme .checkmark{
    border: 2px solid #aaa;
}
body.dark-theme .current_status{
    color:#2D64AB;
}
body.dark-theme .ltable_all{
    background-color: #30324E ;
}
body.dark-theme .check_current_lead{
    background:#30324E  ;
}
body.dark-theme .current_lead_name{
    background: #30324E;
}
body.dark-theme .tname{
    background: #30324E;
}
body.dark-theme .check_all_leads{
    background: #30324E;
}
body.dark-theme .checked_row .current_lead_name{
    background: #2F517B;
}
body.dark-theme #leads_top.active{
    background-color: #30324E;
}
body.dark-theme .search_input{
    color: #d5d8df;
}
body.dark-theme .person_hover_container{
    background-color: rgba(255, 255, 255, 0.3);
}
body.dark-theme .person_hover_text{
    color:#d5d8df;
}
body.dark-theme .person_popup{
    background-color: #30324E ;
}
body.dark-theme .person_popup_text{
    color:#d5d8df;
}
body.dark-theme .main_row_popup{
    background-color: #30324E;
}
body.dark-theme .row_selected_text{
    color: #d5d8df;
}
body.dark-theme .mass_email_text{
    color:#d5d8df;
}
body.dark-theme .mass_email_svg path{
    fill: #d5d8df;
}
body.dark-theme .duplicate_row_text{
    color: #d5d8df;
}
body.dark-theme .duplicate_row_svg path{
    stroke: #d5d8df;
}
body.dark-theme .export_row_text{
    color: #d5d8df;
}
body.dark-theme .export_row_svg path{
    stroke: #d5d8df;
}
body.dark-theme .delete_row_text{
    color: #d5d8df;
}
body.dark-theme .delete_row_svg path{
    stroke: #d5d8df;
}
body.dark-theme .close_main_popup path{
    stroke: #d5d8df;
}

/* Адаптація сторінки*/

@media (max-width: 831px) {
    .page_messager_container{
        width: 60%;
    }
}
@media (max-width: 768px) {
    .page_messager_container{
        width: 90%;
    }
}
@media (max-width: 600px) {
    .leads_page_head{
        flex-direction: column;
        gap: 10px;
    }
    .page_head_menu{
        gap: 5px;
    }
    .arr_main{
        display: none;
    }
    .tname, .current_lead_name, .new_lead{
        width: 150px;
    }
}

/* Contacts Table.css*/

.contacts_name{
    color:#50C878;
}
.contacts_arr path{
    stroke:#50C878;
}
.uncontacts_name{
    color:#EB4C42;
}
.uncontacts_arr path{
    stroke:#EB4C42;
}
.tprojects{
    width: 180px;
}
.current_projects{
    width: 180px;
}
.unactive_table{
    border-left: 5px solid #EB4C42;
}
.active_table{
    border-left: 5px solid #50C878;
}