header {
    position: fixed;
    z-index: 30;
    width: 100%;
}
.header {
    display: flex;
    justify-content: center;
	position: relative;
    width: 100%;
    height: 62px;
    background-color: #F6F6F6;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.09);
}
.Tablet_logo,
.Phone_logo,
.header_menu_button,
.close_menu{
    display: none;
    transition: .5s ease;
	z-index: 28;
}
.header_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 97%;
}
.header_content li {
    list-style: none;
    position: relative;
    transition: all .3s ease-in-out;
    cursor: pointer;
	margin: 4px 10px;
}
.right_header_menu{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
}
.header_left_menu{
    display: flex;
    align-items: center;
    gap: 40px;
}
.right_header_menu li  a{
    font-size: 20px;
    text-decoration: none;
    color: #000000;
}
.email_svg{
    color: #000000;
}
.email_svg:hover{
    color: #555555;
    transition: .3s;
}
.profile_svg{
    color: #4B89D9;
}
.profile_svg:hover{
    color: #7ca4d8;
    transition: .3s;
}
.fall_down_menu {
    position: relative;
    display: inline-block;
}
.fall_down_menu .fall_down_menu_content,
.contacts_fall_down_menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%); 
    text-align: center;
    background-color: #F6F6F6;
    min-width: 150px;
    box-shadow: 0 4px 4px  rgba(0, 0, 0, 0.13);
    z-index: 1;
    border-radius: 4px;
    padding: 20px 0 0;
    border-radius: 5px;
}
.fall_down_menu_content ul,
.contacts_fall_down_menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.fall_down_menu_content ul li,
.contacts_fall_down_menu ul li {
    padding: 10px;
}
.fall_down_menu_content ul li a,
.fall_down_menu .contacts_fall_down_menu ul li a {
    color: #333;
    text-decoration: none;
    display: block;
}
.phone_menu_content {
    position: absolute;
    top: 62px;
    width: 350px;
	right: 0;
    height: calc(100vh - 62px);
    background-color: #F6F6F6;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.13);
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: all .5s ease-in-out;
	transform: translateX(100%);
	z-index: 26;
}
.phone_menu_logo{
    display: flex;
    padding: 20px 20px 10px 20px;
    justify-content: left;
    width: 100%;
    border-bottom: 1px solid #9c9c9c;
}
.menu_profile{
    height: 60px;
    width: 60px;
}
#MobileprofileInitials{
    font-size: 20px;
    font-weight: bold;
}
.phone_menu_profile .content{
    display: flex;
    align-items: center;
    padding: 15px 0px 15px 15px;
    gap: 20px;
    border-bottom: 1px solid #9c9c9c;
}

.phone_menu_profile .txt{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
}
.phone_menu_profile .txcrm_txt{
    color: #4B89D9;
}
.phone_menu_profile .about_txt{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: left;
}
.about_txt .job_title{
    font-size: 12px;
    color: #5d626c;
}
.about_txt .name{
    font-weight: bold;
}
.header_menu_button.active {
    display: none;
}
.phone_menu_content.active{
	transform: translateX(0);
}
.close_menu {
    display: none; 
}
.close_menu.active {
    display: flex; 
    transition: .5s ease;
}
.email_svg,
.header_arrow{
    color: #000000;
    transition: .5s ease;
}
.phone_menu_content a{
    font-size: 20px;
    color: #000000;
}
.phone_menu_content ul {
    display: flex;
    padding: 20px 10px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5%;
}
.phone_menu_content ul li{
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: left;
}
.fall_down_options{
    display: flex;
    flex-direction: column;
}
.fall_down_options .options_menu {
    display: none;
    opacity: 0; 
    pointer-events: none; 
    padding: 0 0 0 30px;
    gap: 10px;
    transition: opacity 0.3s ease;
}

.fall_down_options .options_menu.active {
    display: flex;
    opacity: 1; 
    pointer-events: auto; 
}
.fall_down_arrow{
    transition: .3s;
}
.fall_down_arrow.active{
    transform: rotate(180deg);
}

.fall_down_options .options_menu li a{
    color: #868686;

}
.fall_down_options .fall_down_text{
    display: flex;
    width: 100%;
    justify-content: left;
    align-items: center;
    gap: 5px;
}
.fall_down_menu:hover .fall_down_menu_content,
.fall_down_menu:hover .contacts_fall_down_menu, 
.fall_down_menu:active .fall_down_menu_content,
.fall_down_menu:active .contacts_fall_down_menu,
.fall_down_menu.active{
    display: block;
}
.fall_down_menu:hover .header_arrow,
.fall_down_menu:active .header_arrow{
    transform: rotate(-180deg);
}
.fall_down_menu_content ul li:hover, 
.contacts_fall_down_menu ul li:hover {
	background: #555555;
}
.fall_down_menu_content ul li:hover a, 
.contacts_fall_down_menu ul li:hover a {
    color: #ffffff;
}

body.dark-theme .name{
    color: #e5e5e5;
}
body.dark-theme .header{
    box-shadow: 0 4px 4px 0 #3d3d3d;
}
body.dark-theme .header,
body.dark-theme .fall_down_menu_content,
body.dark-theme .phone_menu_content,
body.dark-theme .contacts_fall_down_menu{
    background-color: #222222;
}
body.dark-theme .right_header_menu li a,
body.dark-theme .Tablet_logo_svg,
body.dark-theme .Dekstop_logo_svg,
body.dark-theme .email_svg,
body.dark-theme .phone_menu_content li a,
body.dark-theme .header_menu_button,
body.dark-theme .close_menu,
body.dark-theme .phone_menu_content li p,
body.dark-theme .phone_menu_content li svg{
    color: #e5e5e5;
}
body.dark-theme .email_svg:hover,
body.dark-theme .right_header_menu li a:hover{
    color: #c2c2c2;
    transition: .3s;
}
body.dark-theme .header_arrow{
    color: #F6F6F6;
}
body.dark-theme .fall_down_menu_content ul li:hover, 
body.dark-theme .contacts_fall_down_menu ul li:hover {
	background: #5d626c;
}
body.dark-theme .fall_down_menu_content ul li:hover a, 
body.dark-theme .contacts_fall_down_menu ul li:hover a {
    color: #ffffff;
}
.phone_menu_logout{
    padding-top: 10px;
    border-top: 1px solid #9c9c9c;
}


.phone_menu_content ul .phone_menu_logout,
.phone_menu_content ul .phone_menu_logout a,
body.dark-theme .phone_menu_content .phone_menu_logout svg,
body.dark-theme .phone_menu_content .phone_menu_logout a{
    color: #ff3c3c;
}

@media screen and (max-width: 1400px){
    .Dekstop_logo{
        display: none;
    }
    .Tablet_logo{
        display: flex;
    }
    .header_left_menu{
        gap: 25px;
    }
}
@media screen and (max-width: 1000px){
    .Dekstop_logo,
    .Tablet_logo,
    .dekstop_menu,
    .header_email_svg{
        display: none;
    }
    .Phone_logo,
    .header_content,
    .header_menu_button {
        display: flex;
    }
    .header_left_menu{
        gap: 30px;
    }
}
@media screen and (max-width: 600px){
    .Dekstop_logo,
    .Tablet_logo,
    .dekstop_menu,
    .header_email_svg,
    .header_profile_svg{
        display: none;
    }
    .Phone_logo,
    .header_content,
    .header_menu_button{
        display: flex;
    }
    .header_left_menu{
        gap: 10px;
        padding-right: 10px;
    }
	.phone_menu_content {
		width: 100%;
	}
}
@media screen and (max-width: 490px){
	li.Phone_logo svg,
	li.header_menu_button svg,
	li.close_menu svg {
		width: 33px;
		height: 33px;
	}
	.header {
		height: 45px;
	}
	.header_left_menu {
		padding-right: 0;
	}
	.phone_menu_content {
		top: 45px;
		height: calc(100vh - 45px);
	}
}


/* ~~~ vadym changes start ~~~ */
li.header_profile_svg a:has(img) {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 40px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
}
li.header_profile_svg a:has(img) img {
    height: 100%;
    width: auto;
}
.menu_profile {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}
.menu_profile img {
    width: 100%;
    height: auto;
}


/* ~~~ vadym changes end ~~~ */
